[submodule "source"]
	path = source
	url = https://github.com/ACC-GIT/ACCBefuncool.git
	branch = data
[submodule "themes/hexo-theme-acc"]
	path = themes/hexo-theme-acc
	url = https://github.com/ACC-GIT/ACCBefuncool.git
	branch = theme
