// Page specific styles

@import "archive";
@import "categories";
@import "post-detail";

ul li {
  list-style: disc
}

ul li ul li {
  list-style: circle
}

ul li ul li ul li {
  list-style: square
}
